<svg id="headerLogo" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    <g stroke="null">
        <title>Logo</title>
        <ellipse fill="#35d440" stroke-width="0" cx="29" cy="23" rx="4" ry="4" stroke="#35d440" id="blip1"></ellipse>
        <ellipse fill="#1086ff" stroke-width="0" cx="29" cy="35" rx="4" ry="4" stroke="#1086ff" id="blip2"></ellipse>
        <ellipse fill="#e72944" stroke-width="0" cx="17" cy="47" rx="4" ry="4" stroke="#e72944" id="blip3"></ellipse>
        <text stroke-width="0" x="270" y="55" id="fName" font-size="55" font-family="Quando, Serif" text-anchor="end" stroke="#000000" fill="#000000">Andrew</text>
        <text stroke-width="0" x="270" y="110" id="lName" font-size="55" font-family="Quando, Serif" text-anchor="end" stroke="#000000" fill="#000000">Jarvis</text>
    </g>
</svg>