<nav class="menu">
    <ul>
        <li><a routerLink="/" routerLinkActive="active" aria-label="Home"><i class="fa fa-home"></i></a></li>
        <li><a routerLink="/about" routerLinkActive="active" aria-label="About"><i class="fa fa-male"></i></a></li>
        <li><a routerLink="/projects" routerLinkActive="active" aria-label="Projects"><i class="fa fa-cogs"></i></a></li>
        <!--<li><a (click)="gotoPage('home')" aria-label="Home"><i class="fa fa-home"></i></a></li>
        <li><a (click)="gotoPage('about')" aria-label="About"><i class="fa fa-male"></i></a></li>
        <li><a (click)="gotoPage('projects')" aria-label="Projects"><i class="fa fa-cogs"></i></a></li>
        <li><a href="https://www.linkedin.com/in/andrewjrvs" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>-->

        <li><a href="https://www.linkedin.com/in/andrewjrvs" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
        <!--
        <li><a href="javascript:void(0);" aria-label="Code"><i class="fa fa-code"></i></a></li>-->
        <li scrollup="" class="scrollLink" aria-hidden="true"><a href="javascript:void(0);" id="goToTop"><i class="fa fa-arrow-up"></i></a></li>
    </ul>
</nav>