<div class="flashy-show">
    <div class="shell" style="transform: rotate3d(12.1428, 4.77471, 0, 12.1428deg);">
        <div class="screen" (click)="startGame()">
            <div id="log" style="position: absolute; top: 20%; left: 20%; background-color: red;">
            </div>
            <p class="mission-text">
                Utilizing <span class="blip1-color-text key-term">technology</span> to <br>
                spur <span class="blip2-color-text key-term">development</span> with <br>
                a <span class="blip3-color-text key-term">passion</span> for usability.
            </p>
            <p class="mission-text mission-text-copy" style="transform: matrix(1, 0, 0, 1, -0.716207, 1.82142);">
                Utilizing <span class="blip1-color-text key-term">technology</span> to <br>
                spur <span class="blip2-color-text key-term">development</span> with <br>
                a <span class="blip3-color-text key-term">passion</span> for usability.
            </p>
            <!--<canvas id="dropBlock" width="216" height="360"></canvas>-->
        </div>

    </div>
</div>
<div class="container">
    <footer class="footer">
        <hr />
        <p watermelon>&copy; 2016 - cvbn</p>
    </footer>
</div>
